@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}
// Primary
$tomato: hsl(4, 100%, 67%);
// Neutral
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%) ;

$error: hsl(0, 100%, 66%);

@import './index';
@import './media-queries';